/*! normalize.scss v0.1.0 | MIT License | based on git.io/normalize */


/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */

html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}


/**
 * Remove default margin.
 */

body {
  margin: 0;
}


/* HTML5 display definitions
   ========================================================================== */


/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}


/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */

audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}


/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */

audio:not([controls]) {
  display: none;
  height: 0;
}


/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */

[hidden],
template {
  display: none;
}


/* Links
   ========================================================================== */


/**
 * Remove the gray background color from active links in IE 10.
 */

a {
  background-color: transparent;
}


/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */

a:active,
a:hover {
  outline: 0;
}


/* Text-level semantics
   ========================================================================== */


/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */

abbr[title] {
  border-bottom: 1px dotted;
}


/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */

b,
strong {
  font-weight: bold;
}


/**
 * Address styling not present in Safari and Chrome.
 */

dfn {
  font-style: italic;
}


/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}


/**
 * Address styling not present in IE 8/9.
 */

mark {
  background: #ff0;
  color: #000;
}


/**
 * Address inconsistent and variable font size in all browsers.
 */

small {
  font-size: 80%;
}


/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}


/* Embedded content
   ========================================================================== */


/**
 * Remove border when inside `a` element in IE 8/9/10.
 */

img {
  border: 0;
}


/**
 * Correct overflow not hidden in IE 9/10/11.
 */

svg:not(:root) {
  overflow: hidden;
}


/* Grouping content
   ========================================================================== */


/**
 * Address margin not present in IE 8/9 and Safari.
 */

figure {
  margin: 1em 40px;
}


/**
 * Address differences between Firefox and other browsers.
 */

hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}


/**
 * Contain overflow in all browsers.
 */

pre {
  overflow: auto;
}


/**
 * Address odd `em`-unit font size rendering in all browsers.
 */

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}


/* Forms
   ========================================================================== */


/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */


/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */
}


/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */

button {
  overflow: visible;
}


/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */

button,
select {
  text-transform: none;
}


/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
}


/**
 * Re-set default cursor for disabled elements.
 */

button[disabled],
html input[disabled] {
  cursor: default;
}


/**
 * Remove inner padding and border in Firefox 4+.
 */

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}


/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */

input {
  line-height: normal;
}


/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}


/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}


/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */

input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box;
}


/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}


/**
 * Define consistent border, margin, and padding.
 */

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}


/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */

legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
}


/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */

textarea {
  overflow: auto;
}


/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */

optgroup {
  font-weight: bold;
}


/* Tables
   ========================================================================== */


/**
 * Remove most spacing between table cells.
 */

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

@font-face {
  font-family: "hn-heavy";
  src: url("../fonts/HelveticaNeue-Heavy.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "hn-med-ext";
  src: url("../fonts/HelveticaNeue-MediumExt.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "hn-lg-ext";
  src: url("../fonts/HelveticaNeue-LightExt.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "hn-th-ext";
  src: url("../fonts/HelveticaNeue-ThinExt.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "hn-bl-ext";
  src: url("../fonts/HelveticaNeue-BoldExt.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "h-bl";
  src: url("../fonts/Helvetica Bold.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "h-lg";
  src: url("../fonts/Helvetica Light.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "h-r";
  src: url("../fonts/Helvetica Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "h-obl";
  src: url("../fonts/Helvetica Oblique.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "di-r";
  src: url("../fonts/DINOT-CondRegular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "di-lg";
  src: url("../fonts/DINOT-CondLight.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

html {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  min-width: 325px;
  font-size: 28px;
  margin: 0 auto;
  font-size: 16px;
}

img {
  max-width: 100%;
  height: auto;
}

h1,
h2 {
  font-size: 2.3125em;
  line-height: 1.1351;
  font-family: "g-bd";
}

h3 {
  font-size: 1.75em;
  font-family: "g-bd";
  line-height: normal;
}

p {
  font-size: 1em;
  line-height: 1.4375;
}

.wrapper {
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
}

@media (max-width: 768px) {
  body {
    font-size: 14px;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0, 0, 0, 0);
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.promo1 {
  position: relative;
}

.promo1:before {
  display: block;
  position: absolute;
  width: 65.3%;
  height: 580px;
  right: 0;
  top: 0;
  content: "";
  background-color: #ffd101;
  z-index: -1;
}

.promo1__header {
  max-width: calc(1500px - 40px);
  margin: 0 auto;
}

.promo1__video {
  min-height: 615px;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  margin-left: -20px;
  margin-right: 30px;
  position: relative;
  overflow: hidden;
}

.promo1__video video {
  background-color: rgba(6, 5, 10, 0.3);
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  min-width: 100%;
  min-height: 100%;
}

.promo1__video-text-1 {
  display: block;
  text-align: center;
  position: relative;
  z-index: 2;
  color: #ffd101;
  font-family: 'hn-th-ext';
  font-size: 61px;
  line-height: 92px;
  text-transform: uppercase;
  top: 110px;
  font-weight: 200;
  text-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
  left: 25px;
  letter-spacing: 0.02em;
}

.promo1__video-text-2 {
  display: block;
  text-align: center;
  position: relative;
  z-index: 2;
  color: #ffd101;
  font-family: 'hn-th-ext';
  font-size: 61px;
  line-height: 92px;
  text-transform: uppercase;
  top: 110px;
  font-weight: 800;
  text-shadow: 0px 10px 20px rgba(0, 0, 0, 0.3);
  left: 25px;
  letter-spacing: 0.02em;
}

.promo1__video-text-2 {
  display: block;
  text-align: center;
  position: relative;
  z-index: 2;
  color: #ffd101;
  font-family: 'hn-heavy';
  font-size: 92px;
  line-height: 92px;
  text-transform: uppercase;
  top: 95px;
  font-weight: 200;
}

@media (max-width: 2500px) {
  .promo1:before {
    width: 50%;
  }
}

@media (max-width: 1600px) {
  .promo1:before {
    width: 63%;
  }
  .promo1__video {
    min-height: 580px;
  }
}

@media (max-width: 1450px) {
  .promo1 {
    overflow: hidden;
  }
  .promo1:before {
    width: 63%;
    right: 0;
    left: 540px;
  }
  .promo1__video {
    min-height: 550px;
  }
  .promo1__video-text-1,
  .promo1__video-text-2 {
    left: 0;
  }
}

@media (max-width: 1200px) {
  .promo1::before {
    left: 50%;
  }
  .promo1__video {
    min-height: 480px;
  }
}

@media (max-width: 950px) {
  .promo1__video {
    min-height: 420px;
    margin-right: 5px;
  }
}

@media (max-width: 850px) {
  .promo1:before {
    width: 63%;
    right: 0;
    left: 315px;
  }
  .promo1__video {
    min-height: 550px;
  }
  .promo1__video-text-1 {
    font-size: 50px;
    top: 170px;
  }
  .promo1__video-text-2 {
    font-size: 75px;
    top: 150px;
  }
}

@media (max-width: 749px) {
  .promo1__video {
    margin-left: -20px;
    margin-right: -20px;
  }
}

@media (max-width: 749px) {
  .promo1:before {
    width: 80%;
    right: 0;
    left: 255px;
  }
  .promo1__video {
    min-height: 450px;
    margin-left: -20px;
    margin-right: -20px;
  }
  .promo1__video-text-1 {
    font-size: 40px;
    top: 110px;
  }
  .promo1__video-text-2 {
    font-size: 65px;
    top: 90px;
  }
}

@media (max-width: 580px) {
  .promo1__video {
    min-height: 420px;
    margin-left: -20px;
    margin-right: -20px;
  }
  .promo1__video-text-1 {
    font-size: 30px;
    top: 130px;
  }
  .promo1__video-text-2 {
    font-size: 45px;
    top: 90px;
  }
}

@media (max-width: 550px) {
  .promo1:before {
    width: 80%;
    right: 0;
    left: 180px;
  }
}

@media (max-width: 450px) {
  .promo1__video {
    min-height: 380px;
    margin-left: -20px;
    margin-right: -20px;
  }
  .promo1__video video {
    max-height: 380px;
  }
  .promo1__video-text-1 {
    font-size: 30px;
    top: 80px;
  }
  .promo1__video-text-2 {
    font-size: 45px;
    top: 40px;
  }
}

@media (max-width: 450px) {
  .promo1__video {
    min-height: 340px;
    margin-left: -20px;
    margin-right: -20px;
  }
  .promo1__video video {
    max-height: 340px;
  }
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 85px;
  padding-right: 32px;
}

.header__logo {
  margin-top: 40px;
  margin-bottom: 30px;
}

.header__link {
  position: relative;
}

.header__link-item {
  font-family: "hn-heavy";
  display: inline-block;
  text-decoration: none;
  color: inherit;
  text-transform: uppercase;
  font-size: 29px;
  letter-spacing: 0.01em;
  padding-top: 9px;
  padding-bottom: 9px;
  padding-right: 29px;
  padding-left: 25px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  transition: 0.2s ease;
  border: none;
  background-color: transparent;
  outline: none;
  border-top: 1px solid #06050a;
  border-right: 1px solid #06050a;
  border-bottom: 1px solid #06050a;
  position: relative;
}

.header__link-item::before,
.header__link-item::after {
  display: block;
  content: '';
  position: absolute;
  top: -6px;
  left: -13px;
  width: 1px;
  height: calc(50% + 11px);
  background-color: #06050a;
  transform: rotate(45deg);
}

.header__link-item::after {
  top: calc(50% - 5px);
  transform: rotate(-45deg);
}

.header__link-item:hover {
  opacity: 0.8;
}

.header__link-item:active {
  opacity: 0.6;
  transform: scale(0.98);
}

@media (max-width: 1200px) {
  .header {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 950px) {
  .header {
    padding-left: 5px;
    padding-right: 5px;
  }
}

@media (max-width: 850px) {
  .header__logo {
    max-width: 260px;
  }
}

@media (max-width: 749px) {
  .header__logo {
    max-width: 200px;
  }
  .header__link-item {
    font-size: 18px;
    padding-right: 44px;
  }
  .header__link-item::before,
  .header__link-item::after {
    top: -4px;
    left: -10px;
    height: calc(50% + 8px);
  }
  .header__link-item::after {
    top: calc(50% - 4px);
    transform: rotate(-45deg);
  }
}

@media (max-width: 580px) {
  .header__logo {
    max-width: 130px;
  }
  .header__link-item {
    font-size: 16px;
    background-image: none;
    border: 1px solid #06050a;
    padding-left: 30px;
    padding-right: 30px;
  }
  .header__link-item::before,
  .header__link-item::after {
    display: none;
  }
}

@media (max-width: 450px) {
  .header {
    padding: 0;
  }
  .header__link-item {
    font-size: 14px;
    background-image: none;
    border: 1px solid #06050a;
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media (max-width: 375px) {
  .header {
    padding: 0;
  }
  .header__link-item {
    font-size: 13px;
    background-image: none;
    border: 1px solid #06050a;
    margin-left: 40px;
    padding-left: 9px;
    padding-right: 9px;
  }
}

.features {
  background-color: #686969;
  color: #ffffff;
  padding-top: 50px;
}

.features__header {
  font-family: "hn-med-ext";
  font-size: 30px;
  text-align: center;
  letter-spacing: 0.01em;
  font-weight: 400;
  margin: 0;
  margin-bottom: 80px;
}

.features__wrapper {
  display: flex;
  justify-content: space-between;
  padding-left: 120px;
  padding-right: 45px;
  max-width: calc(1500px - 165px);
}

.features__card {
  display: flex;
  flex-direction: column;
  align-content: center;
  text-align: center;
  width: 29.5%;
  max-width: 400px;
  align-self: flex-start;
  padding-top: 40px;
  padding-bottom: 30px;
}

.features__card-text {
  font-family: "hn-lg-ext";
  font-size: 30px;
  line-height: 48px;
  letter-spacing: 0.01em;
}

.features__card-text--bold {
  font-family: "hn-bl-ext";
  font-size: 72px;
  letter-spacing: 0.01em;
  line-height: 72px;
  text-transform: uppercase;
  color: #ffd101;
}

.features__card--1 {
  background-color: #818282;
}

.features__card--1 .features__card-text--bold {
  font-family: "hn-th-ext";
  font-size: 70px;
  line-height: 78px;
}

.features__card--2 {
  background-color: #3c3d3d;
  padding-bottom: 42px;
}

.features__carousel {
  max-width: 500px;
  width: 39%;
}

@media (max-width: 1450px) {
  .features__wrapper {
    padding-left: 85px;
    padding-right: 40px;
  }
}

@media (max-width: 1330px) {
  .features__card-text {
    font-size: 30px;
    line-height: 38px;
  }
  .features__card-text--bold {
    font-size: 62px;
    line-height: 62px;
  }
  .features__card--1 .features__card-text--bold {
    font-size: 55px;
    line-height: 68px;
  }
}

@media (max-width: 1100px) {
  .features__card-text {
    font-size: 25px;
    line-height: 38px;
  }
  .features__card-text--bold {
    font-size: 52px;
    line-height: 52px;
  }
  .features__card--1 .features__card-text--bold {
    font-size: 48px;
    line-height: 58px;
  }
}

@media (max-width: 970px) {
  .features__header {
    width: 80%;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 60px;
  }
  .features__card-text {
    font-size: 22px;
    line-height: 28px;
  }
  .features__card-text--bold {
    font-size: 42px;
    line-height: 42px;
  }
  .features__card--1 .features__card-text--bold {
    font-size: 40px;
    line-height: 48px;
  }
}

@media (max-width: 830px) {
  .features__card-text {
    font-size: 19px;
    line-height: 28px;
  }
  .features__card-text--bold {
    font-size: 36px;
    line-height: 38px;
  }
  .features__card--1 .features__card-text--bold {
    font-size: 36px;
    line-height: 44px;
  }
}

@media (max-width: 768px) {
  .features__wrapper {
    flex-direction: column;
    align-items: center;
    padding-left: 30px;
    padding-right: 30px;
  }
  .features__card {
    margin: 0 auto;
    width: 50%;
    max-width: calc(540px - 90px);
    margin-bottom: 40px;
    margin-right: 45px;
    margin-left: 45px;
    align-self: center;
    box-sizing: border-box;
  }
  .features__card-text {
    font-family: "hn-lg-ext";
    font-size: 30px;
    line-height: 48px;
    letter-spacing: 0.01em;
  }
  .features__card-text--bold {
    font-family: "hn-bl-ext";
    font-size: 72px;
    letter-spacing: 0.01em;
    line-height: 72px;
    text-transform: uppercase;
    color: #ffd101;
  }
  .features__card--1 {
    background-color: #818282;
  }
  .features__card--1 .features__card-text--bold {
    font-family: "hn-th-ext";
    font-size: 70px;
    line-height: 78px;
  }
  .features__header {
    margin-bottom: 50px;
  }
  .features__carousel {
    max-width: 540px;
  }
}

@media (max-width: 768px) {
  .features__card {
    width: 70%;
  }
  .features__carousel {
    width: calc(70% + 90px);
    max-width: calc(540px + 0px);
  }
  .features__header {
    width: 80%;
    margin: 0 auto;
    margin-bottom: 50px;
  }
}

@media (max-width: 750px) {
  .features__card {
    width: 75%;
    max-width: 600px;
  }
  .features__carousel {
    width: calc(75% + 90px);
    max-width: 600px;
  }
}

@media (max-width: 580px) {
  .features__header {
    width: 90%;
  }
  .features__card {
    padding-left: 10px;
    padding-right: 10px;
    width: 85%;
    max-width: 600px;
  }
  .features__carousel {
    width: calc(85% + 90px);
    max-width: 600px;
  }
}

@media (max-width: 480px) {
  .features__wrapper {
    padding-left: 20px;
    padding-right: 20px;
  }
  .features__carousel {
    margin-left: -20px;
    margin-right: -20px;
    width: calc(90% + 90px);
  }
  .features__card {
    padding-top: 30px;
    width: 90%;
  }
  .features__card-text {
    font-family: "hn-lg-ext";
    font-size: 20px;
    line-height: 38px;
    letter-spacing: 0.01em;
  }
  .features__card-text--bold {
    font-family: "hn-bl-ext";
    font-size: 52px;
    letter-spacing: 0.01em;
    line-height: 52px;
    text-transform: uppercase;
    color: #ffd101;
  }
  .features__card--1 .features__card-text--bold {
    font-family: "hn-th-ext";
    font-size: 50px;
    line-height: 58px;
  }
}

.products {
  background-color: #06050a;
  color: #ffffff;
  padding-top: 50px;
  box-sizing: border-box;
  padding-bottom: 32px;
  background-image: url("../img/raster/features-background.png");
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: -110px;
}

.products__wrapper {
  padding-left: 120px;
  padding-right: 120px;
  max-width: calc(1500px - 240px);
}

.products__header {
  margin: 0;
  font-family: "h-bl";
  color: #ffd101;
  text-transform: uppercase;
  font-size: 36px;
  letter-spacing: 0.01em;
}

.products__list {
  display: flex;
  margin: 0;
  padding-left: 25px;
  margin-top: 45px;
  margin-bottom: 50px;
  box-sizing: border-box;
}

.products__item {
  font-family: "h-lg";
  font-size: 23px;
  line-height: 35px;
  letter-spacing: 0.01em;
  padding-left: 20px;
}

.products__block {
  max-width: 460px;
  width: 50%;
}

@media (max-width: 1450px) {
  .products__wrapper {
    max-width: none;
    padding-left: 85px;
  }
}

@media (max-width: 1330px) {
  .products {
    margin-top: -100px;
    padding-top: 100px;
  }
}

@media (max-width: 1000px) {
  .products {
    background-image: url("../img/raster/features-background-mobile.png");
  }
  .products__list {
    flex-direction: column;
  }
  .products__block {
    width: 100%;
  }
}

@media (max-width: 1000px) {
  .features__wrapper {
    padding-left: 65px;
    padding-right: 65px;
  }
  .products__wrapper {
    padding-left: 65px;
    padding-right: 65px;
  }
}

@media (max-width: 768px) {
  .features__wrapper {
    padding-left: 30px;
    padding-right: 30px;
  }
  .products {
    margin-top: -100px;
  }
}

@media (max-width: 580px) {
  .products {
    margin-top: -130px;
  }
}

@media (max-width: 480px) {
  .products__wrapper {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.description__wrapper {
  padding-left: 120px;
  padding-right: 68px;
  display: flex;
  justify-content: space-between;
  padding-top: 43px;
  padding-bottom: 32px;
  max-width: calc(1500px - 188px);
}

.description__block {
  width: 60%;
}

.description__ceo {
  width: 40%;
  max-width: 435px;
  margin-top: 20px;
}

.description__ceo-image {
  max-width: 100%;
  height: auto;
  display: block;
  margin-bottom: -8px;
}

.description__ceo-text {
  font-family: "h-obl";
  font-size: 18px;
  line-height: 24px;
  padding-left: 10px;
}

.description__ceo-name {
  display: block;
  font-family: "h-bl";
  font-size: 18px;
  margin-top: -12px;
  margin-left: 52%;
}

.description__ceo-position {
  display: block;
  font-size: 14px;
  margin-left: 52%;
  font-family: "h-obl";
}

.description__text {
  font-family: "h-r";
  font-size: 23px;
  line-height: 32px;
  margin-bottom: -5px;
}

.description__text-header {
  font-size: 36px;
  font-family: "hn-heavy";
  letter-spacing: 0.01em;
  margin-bottom: -20px;
  display: block;
}

@media (max-width: 1450px) {
  .description__wrapper {
    max-width: none;
    padding-left: 85px;
    padding-right: 86px;
  }
  .description__ceo {
    margin-left: 20px;
  }
}

@media (max-width: 1000px) {
  .description {
    padding-bottom: 40px;
  }
  .description__wrapper {
    flex-direction: column;
    padding-left: 65px;
    padding-right: 65px;
  }
  .description__block {
    width: 100%;
  }
  .description__ceo {
    width: 100%;
    margin: 0 auto;
    margin-top: 50px;
    max-width: 850px;
  }
  .description__ceo-image {
    display: block;
    width: 100%;
    margin-bottom: 20px;
  }
  .description__ceo-name {
    margin-left: 62%;
    font-size: 22px;
  }
  .description__ceo-position {
    margin-left: 62%;
    font-size: 22px;
  }
  .description__ceo-text {
    font-family: "h-obl";
    font-size: 22px;
    line-height: 34px;
    padding-left: 10px;
  }
}

@media (max-width: 750px) {
  .description__wrapper {
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 70px;
  }
  .description__ceo-name {
    margin-top: 30px;
    margin-left: 52%;
  }
  .description__ceo-position {
    margin-left: 52%;
  }
}

@media (max-width: 750px) {
  .description__wrapper {
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 70px;
  }
}

.swiper-container-carousel {
  width: 100%;
  margin: 0 auto;
}

.swiper-container-carousel .swiper-slide {
  min-height: 530px;
  height: auto;
  padding-bottom: 28px;
}

.swiper-container-carousel .swiper-button-prev {
  left: 60px;
}

.swiper-container-carousel .swiper-button-prev::after {
  content: "";
  background-image: url("../img/raster/slider-arrow.png");
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 100%;
}

.swiper-container-carousel .swiper-button-next {
  right: 60px;
}

.swiper-container-carousel .swiper-button-next::after {
  content: "";
  background-image: url("../img/raster/slider-arrow.png");
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 100%;
  transform: rotate(180deg);
}

.swiper-container-carousel .swiper-pagination-bullets {
  bottom: 28px;
}

.swiper-container-carousel .swiper-pagination-bullet {
  background-color: transparent;
  width: 14px;
  height: 14px;
  border: 2px solid #ffd101;
  opacity: 1;
}

.swiper-container-carousel .swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 15px;
}

.swiper-container-carousel .swiper-pagination-bullet-active {
  background-color: #ffd101;
}

.carousel {
  background-color: #06050a;
}

.carousel__wrapper {
  padding: 0;
}

.carousel__item-wrapper {
  padding-left: 140px;
  padding-right: 145px;
  display: flex;
  justify-content: space-between;
}

.carousel__item-block {
  width: 60%;
  max-width: 650px;
  padding-top: 250px;
}

.carousel__item-images {
  display: flex;
  flex-direction: column;
  margin-top: 70px;
}

.carousel__item-img:nth-child(1) {
  margin-bottom: 10px;
}

.carousel__item-1 {
  position: relative;
}

.carousel__item-1::before {
  display: block;
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 100%;
  background-image: url("../img/raster/carousel-1-back.png");
  opacity: 0.35;
  z-index: -1;
}

.carousel__item-2 {
  position: relative;
}

.carousel__item-2::before {
  display: block;
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 100%;
  background-image: url("../img/raster/carousel-2-back.png");
  opacity: 0.35;
  z-index: -1;
}

.carousel__item-3 {
  position: relative;
}

.carousel__item-3::before {
  display: block;
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 100%;
  background-image: url("../img/raster/carousel-3-back.png");
  opacity: 0.35;
  z-index: -1;
}

.carousel__item-4 {
  position: relative;
}

.carousel__item-4::before {
  display: block;
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 100%;
  background-image: url("../img/raster/carousel-4-back.png");
  opacity: 0.35;
  z-index: -1;
}

.carousel__item-4 .carousel__item-block {
  padding-top: 80px;
}

.carousel__item-2 .carousel__text-header {
  display: inline-block;
  padding-right: 20px;
}

.carousel__text {
  color: #fff;
  font-family: "h-r";
  font-size: 30px;
  letter-spacing: 0.01em;
}

.carousel__text-header {
  color: #ffd101;
  font-family: "h-bl";
  font-size: 48px;
  line-height: 50px;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  margin-bottom: -20px;
}

.carousel__text-block {
  display: flex;
}

.carousel__text-block .carousel__text-header {
  flex-shrink: 0;
  width: 200px;
  margin-top: 5px;
}

.carousel__text-block .carousel__text {
  margin-top: 5px;
  margin-bottom: 20px;
}

@media (max-width: 1450px) {
  .swiper-container-carousel .swiper-button-prev {
    left: 20px;
  }
  .swiper-container-carousel .swiper-button-next {
    right: 20px;
  }
  .carousel__item-wrapper {
    padding-left: 85px;
    padding-right: 85px;
  }
  .carousel__text {
    padding-right: 40px;
  }
}

@media (max-width: 1199px) {
  .swiper-container-carousel .swiper-pagination-bullet {
    background-color: transparent;
    width: 12px;
    height: 12px;
    border: 2px solid #ffd101;
    opacity: 1;
  }
  .swiper-container-carousel .swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0 17px;
  }
  .swiper-container-carousel .swiper-pagination-bullet-active {
    background-color: #ffd101;
  }
  .swiper-container-carousel .swiper-button-prev {
    display: none;
  }
  .swiper-container-carousel .swiper-button-next {
    display: none;
  }
  .swiper-container-carousel .swiper-slide {
    min-height: 400px;
  }
  .carousel__item::before {
    background-size: cover;
  }
  .carousel__item-wrapper {
    flex-direction: column;
  }
  .carousel__item-block {
    width: 100%;
    max-width: none;
    padding-top: 20px;
    padding-top: 50px;
  }
  .carousel__item-block--grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .carousel__item-block--grid .carousel__text-block {
    width: 49%;
  }
  .carousel__item-4 .carousel__item-block {
    padding-top: 40px;
  }
  .carousel__item-4 .carousel__text {
    font-size: 24px;
  }
  .carousel__item-2 .carousel__item-block {
    padding-top: 115px;
  }
  .carousel__item-images {
    flex-direction: row;
    justify-content: center;
    margin-top: 50px;
  }
  .carousel__item-images img:nth-child(1) {
    max-height: 245px;
  }
  .carousel__item-img:nth-child(1) {
    margin-bottom: 0px;
    margin-right: 20px;
  }
  .carousel__text {
    padding: 0;
  }
  .carousel__text-header {
    font-size: 38px;
  }
}

@media (max-width: 750px) {
  .carousel__item-wrapper {
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 50px;
  }
  .carousel__item-images {
    margin-top: 30px;
  }
  .products__wrapper {
    padding-left: 25px;
    padding-right: 25px;
  }
  .carousel__item-block--grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .carousel__item-block--grid .carousel__text-block {
    width: 100%;
  }
}

@media (max-width: 550px) {
  .carousel__item-wrapper {
    padding-left: 20px;
    padding-right: 20px;
  }
  .carousel__item-block {
    padding-top: 70px;
  }
  .carousel__item-block--grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .carousel__item-block--grid .carousel__text-block {
    width: 100%;
  }
  .carousel__item-block--grid .carousel__text {
    font-size: 21px;
  }
  .carousel__item-block--grid .carousel__text-header {
    font-size: 30px;
    width: 150px;
  }
  .carousel__item-block .carousel__text-header br {
    display: none;
  }
}

@media (max-width: 480px) {
  .carousel__item-images {
    flex-direction: column;
    justify-content: center;
    margin-top: 50px;
  }
  .carousel__item-images img:nth-child(1) {
    max-height: 265px;
  }
  .carousel__item-img:nth-child(1) {
    margin-bottom: 20px;
    margin-right: 0px;
  }
  .carousel__text {
    font-size: 24px;
  }
}

.footer {
  background-color: #06050a;
  color: #ffffff;
  border-top: 5px solid #ffd101;
  padding-bottom: 155px;
}

.footer__wrapper {
  padding-left: 140px;
  max-width: calc(1500px - 140px);
  margin: 0 auto;
}

.footer__text {
  font-family: "hn-th-ext";
  font-size: 22px;
  text-transform: uppercase;
  padding-right: 5px;
  display: inline-block;
  position: relative;
  top: -15px;
}

.footer__img {
  padding-top: 20px;
}

@media (max-width: 375px) {
  .carousel__item-block {
    padding-top: 160px;
  }
  .carousel__item-2 .carousel__item-block {
    padding-top: 185px;
  }
  .footer__text {
    top: 0px;
    padding: 5px
  }
  .footer__wrapper {
    text-align: center;
  }
}

@media (max-width: 1450px) {
  .footer__wrapper {
    padding-left: 85px;
  }
}

@media (max-width: 750px) {
  .footer {
    padding-bottom: 120px;
  }
  .footer__wrapper {
    padding-left: 30px;
  }
}

@media (max-width: 480px) {
  .footer {
    padding-bottom: 80px;
  }
  .footer__wrapper {
    padding-left: 20px;
  }
}

.swiper-container-slider {
  width: 100%;
  margin: 0 auto;
  margin-top: -40px;
}

.swiper-container-slider .swiper-slide {
  height: auto;
  padding-bottom: 50px;
}

.swiper-container-slider .swiper-button-prev {
  top: 48%;
}

.swiper-container-slider .swiper-button-prev::after {
  content: "";
  background-image: url("../img/raster/slider-arrow.png");
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 100%;
}

.swiper-container-slider .swiper-button-next {
  top: 48%;
}

.swiper-container-slider .swiper-button-next::after {
  content: "";
  background-image: url("../img/raster/slider-arrow.png");
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 100%;
  transform: rotate(180deg);
}

.slider__wrapper {
  margin-left: 45px;
  margin-right: 45px;
  background-color: #c3c0cd;
  padding: 15px;
  padding-top: 35px;
  padding-bottom: 50px;
  box-shadow: 10px 25px 40px rgba(0, 0, 0, 0.5);
}

.slider__text {
  text-align: center;
  color: #06050a;
}

.slider__text-1 {
  font-family: "di-lg";
  text-transform: uppercase;
  font-size: 41px;
  letter-spacing: 0.02em;
  display: block;
  margin-bottom: -4px;
}

.slider__text-2 {
  font-family: "di-lg";
  text-transform: uppercase;
  font-size: 69px;
  letter-spacing: -0.02em;
}

.slider__text-3 {
  font-family: "di-lg";
  text-transform: uppercase;
  font-size: 51px;
  letter-spacing: -0.02em;
  display: block;
}

.slider__text-4 {
  font-family: "di-lg";
  text-transform: uppercase;
  font-size: 141px;
  line-height: 101px;
  letter-spacing: -0.02em;
}

.slider__text-5 {
  font-family: "di-lg";
  text-transform: uppercase;
  font-size: 116px;
  line-height: 101px;
  letter-spacing: -0.02em;
}

.slider__icon {
  border-top: 4px solid white;
  margin-left: 30px;
  margin-right: 30px;
  padding-top: 40px;
  margin-top: 10px;
  text-align: center;
}

.slider__item--1 .slider__wrapper {
  padding-top: 55px;
  padding-bottom: 55px;
}

.slider__item--1 .slider__icon {
  margin-top: 32px;
}

.slider__item--3 .slider__wrapper {
  padding-top: 30px;
  padding-bottom: 45px;
}

.slider__item--3 .slider__icon {
  margin-top: 25px;
}

.slider__item--4 .slider__icon {
  margin-top: 10px;
}

.slider__item--4 .slider__wrapper {
  padding-bottom: 48px;
}

@media (max-width: 1330px) {
  .slider__text-1 {
    font-size: 31px;
  }
  .slider__text-2 {
    font-size: 59px;
  }
  .slider__text-3 {
    font-size: 41px;
  }
  .slider__text-4 {
    font-size: 110px;
    line-height: 91px;
  }
  .slider__text-5 {
    font-size: 90px;
    line-height: 81px;
  }
  .slider__icon img {
    transform: scale(0.9);
  }
}

@media (max-width: 1150px) {
  .swiper-container-slider .swiper-button-prev,
  .swiper-container-slider .swiper-button-next {
    top: 45%;
  }
  .slider__text-1 {
    font-size: 24px;
  }
  .slider__text-2 {
    font-size: 41px;
  }
  .slider__text-3 {
    font-size: 31px;
  }
  .slider__text-4 {
    font-size: 80px;
    line-height: 71px;
  }
  .slider__text-5 {
    font-size: 80px;
    line-height: 71px;
  }
  .slider__item--1 .slider__wrapper {
    padding-top: 55px;
    padding-bottom: 48px;
  }
  .slider__item--1 .slider__icon {
    margin-top: 38px;
  }
  .slider__item--2 .slider__wrapper {
    padding-bottom: 40px;
  }
  .slider__item--2 .slider__icon {
    margin-top: 25px;
  }
  .slider__item--3 .slider__wrapper {
    padding-top: 30px;
    padding-bottom: 40px;
  }
  .slider__item--3 .slider__icon {
    margin-top: 30px;
    padding-top: 35px;
  }
  .slider__item--4 .slider__icon {
    margin-top: 25px;
    padding-top: 35px;
  }
  .slider__item--4 .slider__wrapper {
    padding-bottom: 42px;
  }
}

@media (max-width: 970px) {
  .slider__text-1 {
    font-size: 22px;
  }
  .slider__text-2 {
    font-size: 30px;
  }
  .slider__text-3 {
    font-size: 26px;
  }
  .slider__text-4 {
    font-size: 65px;
    line-height: 56px;
  }
  .slider__text-5 {
    font-size: 60px;
    line-height: 56px;
  }
  .slider__icon {
    padding-top: 20px;
  }
  .slider__icon img {
    transform: scale(0.7);
  }
  .slider__item--1 .slider__wrapper {
    padding-top: 55px;
    padding-bottom: 45px;
  }
  .slider__item--1 .slider__icon {
    margin-top: 38px;
  }
  .slider__item--2 .slider__wrapper {
    padding-bottom: 40px;
  }
  .slider__item--2 .slider__icon {
    margin-top: 25px;
  }
  .slider__item--3 .slider__wrapper {
    padding-top: 35px;
    padding-bottom: 40px;
    padding-bottom: 35px;
  }
  .slider__item--3 .slider__icon {
    margin-top: 30px;
    padding-top: 35px;
    padding-top: 20px;
  }
  .slider__item--4 .slider__icon {
    margin-top: 25px;
    padding-top: 35px;
    padding-top: 20px;
  }
  .slider__item--4 .slider__wrapper {
    padding-bottom: 42px;
  }
}

@media (max-width: 860px) {
  .slider__text-1 {
    font-size: 22px;
  }
  .slider__text-2 {
    font-size: 30px;
  }
  .slider__text-3 {
    font-size: 26px;
  }
  .slider__text-4 {
    font-size: 55px;
    line-height: 56px;
  }
  .slider__text-5 {
    font-size: 50px;
    line-height: 46px;
  }
  .slider__icon {
    padding-top: 20px;
  }
  .slider__icon img {
    transform: scale(0.7);
  }
  .slider__item--1 .slider__wrapper {
    padding-top: 55px;
    padding-bottom: 45px;
  }
  .slider__item--1 .slider__icon {
    margin-top: 38px;
  }
  .slider__item--2 .slider__wrapper {
    padding-bottom: 40px;
  }
  .slider__item--2 .slider__icon {
    margin-top: 25px;
  }
  .slider__item--3 .slider__wrapper {
    padding-top: 35px;
    padding-bottom: 40px;
    padding-bottom: 55px;
  }
  .slider__item--3 .slider__icon {
    margin-top: 30px;
    padding-top: 35px;
    padding-top: 20px;
  }
  .slider__item--4 .slider__icon {
    margin-top: 25px;
    padding-top: 35px;
    padding-top: 20px;
  }
  .slider__item--4 .slider__wrapper {
    padding-bottom: 42px;
  }
}

@media (max-width: 768px) {
  .swiper-container-slider {
    margin-top: 0;
  }
  .slider__text-1 {
    font-size: 41px;
  }
  .slider__text-2 {
    font-size: 69px;
  }
  .slider__text-3 {
    font-size: 51px;
  }
  .slider__text-4 {
    font-size: 135px;
    line-height: 101px;
  }
  .slider__text-5 {
    font-size: 116px;
    line-height: 101px;
  }
  .slider__icon {
    border-top: 4px solid white;
    margin-left: 30px;
    margin-right: 30px;
    padding-top: 40px;
    margin-top: 10px;
    text-align: center;
  }
  .slider__icon img {
    transform: scale(0.9);
  }
  .slider__item--1 .slider__wrapper {
    padding-top: 55px;
    padding-bottom: 55px;
  }
  .slider__item--1 .slider__icon {
    margin-top: 32px;
  }
  .slider__item--3 .slider__wrapper {
    padding-top: 30px;
    padding-bottom: 45px;
  }
  .slider__item--3 .slider__icon {
    margin-top: 40px;
    padding-top: 28px;
  }
  .slider__item--4 .slider__icon {
    margin-top: 25px;
    padding-top: 30px;
  }
  .slider__item--4 .slider__wrapper {
    padding-bottom: 48px;
  }
}

@media (max-width: 580px) {
  .slider__text-1 {
    font-size: 31px;
  }
  .slider__text-2 {
    font-size: 59px;
  }
  .slider__text-3 {
    font-size: 41px;
  }
  .slider__text-4 {
    font-size: 110px;
    line-height: 91px;
  }
  .slider__text-5 {
    font-size: 90px;
    line-height: 81px;
  }
  .slider__icon img {
    transform: scale(0.9);
  }
}

@media (max-width: 500px) {
  .slider__item--1 .slider__wrapper {
    padding-top: 55px;
    padding-bottom: 55px;
  }
  .slider__item--1 .slider__icon {
    padding-top: 42px;
  }
  .slider__item--3 .slider__wrapper {
    padding-top: 30px;
    padding-bottom: 45px;
  }
  .slider__item--3 .slider__icon {
    margin-top: 15px;
  }
  .slider__item--4 .slider__icon {
    margin-top: 10px;
  }
  .slider__item--4 .slider__wrapper {
    padding-bottom: 48px;
  }
}

@media (max-width: 480px) {
  .slider__text-1 {
    font-size: 21px;
  }
  .slider__text-2 {
    font-size: 41px;
  }
  .slider__text-3 {
    font-size: 31px;
  }
  .slider__text-4 {
    font-size: 80px;
    line-height: 71px;
  }
  .slider__text-5 {
    font-size: 80px;
    line-height: 71px;
  }
  .slider__item--1 .slider__wrapper {
    padding-top: 55px;
    padding-bottom: 48px;
  }
  .slider__item--1 .slider__icon {
    margin-top: 38px;
  }
  .slider__item--2 .slider__wrapper {
    padding-bottom: 40px;
  }
  .slider__item--2 .slider__icon {
    margin-top: 25px;
  }
  .slider__item--3 .slider__wrapper {
    padding-top: 30px;
    padding-bottom: 40px;
  }
  .slider__item--3 .slider__icon {
    margin-top: 30px;
    padding-top: 35px;
  }
  .slider__item--4 .slider__icon {
    margin-top: 25px;
    padding-top: 35px;
  }
  .slider__item--4 .slider__wrapper {
    padding-bottom: 42px;
  }
}

.modal {
  background-color: #3c3d3d;
  color: #fff;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
  padding-top: 40px;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 60px;
  box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.3);
  z-index: 101;
  width: 80%;
  opacity: 0;
  visibility: hidden;
  position: fixed;
  overflow-y: auto;
  transition: 0.3s all;
  will-change: auto;
  max-width: 810px;
}

.modal__header {
  margin: 0;
  font-family: "hn-bl-ext";
  color: #ffd101;
  text-transform: uppercase;
  font-size: 60px;
  letter-spacing: 0.01em;
  text-align: center;
  margin-bottom: -5px;
}

.modal__text {
  font-family: "h-r";
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 16.2px;
  text-align: center;
  line-height: 20px;
}

.modal__form {
  max-width: 440px;
  margin: 0 auto;
  margin-top: 55px;
}

.modal__form-text {
  font-size: 14px;
  margin-bottom: 0;
}

.modal__form-text--yellow {
  font-size: 14px;
  color: #ffd101;
  margin-bottom: 17px;
  display: block;
}

.modal__form-input {
  font-family: "h-r";
  font-size: 16px;
  color: #06050a;
  padding: 20px;
  padding-top: 10px;
  padding-bottom: 11px;
  display: block;
  box-sizing: border-box;
  width: 100%;
  margin-bottom: 12px;
}

.modal__form-input::placeholder {
  font-family: "h-obl";
  opacity: 0.8;
}

.modal__form-submit {
  margin: 0 auto;
  display: block;
  border: none;
  outline: none;
  background-color: #ffd101;
  color: #06050a;
  text-align: #3c3d3d;
  font-family: "h-bl";
  font-size: 24px;
  width: 170px;
  text-transform: uppercase;
  padding-top: 15px;
  padding-bottom: 18px;
  margin-top: 50px;
  transition: 0.2s ease;
}

.modal__form-submit:hover {
  opacity: 0.8;
}

.modal__form-submit:active {
  opacity: 0.6;
  transform: scale(0.98);
}

.modal.active {
  opacity: 1;
  visibility: visible;
}

.overlay {
  opacity: 0;
  visibility: hidden;
  position: fixed;
  top: 0px;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 4;
  transition: 0.3s all;
}

.overlay.active {
  opacity: 1;
  visibility: visible;
}

@media (max-width: 750px) {
  .modal {
    width: 95%;
    padding: 20px;
    padding-bottom: 40px;
    overflow-y: auto;
    max-height: 95%;
  }
}

@media (max-width: 1200px) {
  .swiper-container-carousel .swiper-pagination-bullets {
    bottom: 10px;
  }
}

@media (min-width: 1630px) {
  .promo1__video {
    margin-right: calc((100vw - (1500px - 40px))/2 - 55px);
  }
}

.modal__cross {
  width: 14px;
  height: 14px;
  position: absolute;
  top: 20px;
  right: 20px;
  fill: #ffd101;
  cursor: pointer;
  transition: 0.2s ease;
}

.modal__cross:hover {
  fill: #ffd101;
  transform: scale(1.1);
}

.modal__cross:active {
  fill: #9a7e00;
  transform: scale(0.9);
}

@media (max-width: 360px) {
  .features__card--1 .features__card-text--bold {
    font-family: "hn-th-ext";
    font-size: 40px;
    line-height: 58px;
  }
}